@import 'settings';
@import 'foundation-emails';

.font22-8{
    font-size: 22.8px;
}
.font18{
    font-size: 18px;
    line-height: 25px;
}

.font16{
    font-size: 16px;
}

.black{
    color: black;
}




.no-pad{
    padding: 0 !important;
}



.white{
    background: #fff;
}

.dec{
    width: 20px !important;
}


// @import 'template/template';