{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{subject}}</title>
    <!-- <style> -->
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            <!--logo-->
            <container>
              <spacer size="55"></spacer>
              <row>
                <columns large="6">
                  <a href="https://gold-stream.ru/">
                    <center>
                    <img class="small-float-center" src="../assets/img/logo.png" alt="GoldStream">
                    </center>
                  </a> 
                </columns>
                <spacer size="50"></spacer>
              </row>

            </container>

            <!--image-1-->

            <container>
              <row>
                <columns>
                  <a href="https://gold-stream.ru/"><img src="../assets/img/image1.jpg" alt="GoldStream"></a>
                </columns>
              </row>
            </container>
             
            <spacer size="40"></spacer>

            <container>
                <row>
                  <columns>
                    <center>
                      <img src="../assets/img/long-line.jpg" alt="GoldStream">
                    </center>  
                  </columns>
                </row>
              </container>

              <spacer size="5"></spacer>

              <container>
                <row>
                  <columns>
                    <p class="text-center">Ты всегда стремишься к совершенству и не идешь на компромисс. Ты выбираешь только самое лучшее. Украшения smart casual – для тебя! Такие же как ты – во всем! 
                Безупречная ты – безупречный дизайн изделий от Gold Stream.</p>
                  </columns>
                </row>
              </container> 
              
              <container>
                  <row>
                    <columns>
                      <center>
                        <img src="../assets/img/short-line.jpg" alt="GoldStream">
                      </center>  
                    </columns>
                  </row>
                </container>

                <spacer size="30"></spacer>
            
                <!--block-3-goods-begin-->

                <container>
                    <row>
      
                      <columns large="4" class="no-pad white">
                        <a href="#">
                          <center>
                            <img class="small-float-center" src="../assets/img/ring1.png" alt="sdf">
                          </center> 
                        </a>
                        <spacer size="10"></spacer>
                        <h3 class="text-center">1114312</h3>
                      </columns>
      
                      <columns class="no-pad dec"></columns>
      
                      <columns large="4" class="no-pad white">
                        <a href="#">
                          <center>
                            <img class="small-float-center" src="../assets/img/ring2.png" alt="sdf">
                          </center>
                          </a>
                        <spacer size="10"></spacer>
                        <h3 class="text-center">1111125</h3>
                      </columns>
      
                      <columns class="no-pad dec"></columns>
      
                      <columns large="4" class="no-pad white">
                        <a href="#">
                          <center>
                            <img class="small-float-center" src="../assets/img/ring3.png" alt="sdf">
                          </center>
                          </a>
                        <spacer size="10"></spacer>
                        <h3 class="text-center">1111392</h3>
                      </columns>
      
                    </row>
                  </container>
                  <!--block-3-goods-end-->
                  <spacer size="60"></spacer>
                  <!--block-3-goods-begin-->

                <container>
                    <row>
      
                      <columns large="4" class="no-pad white">
                        <a href="#">
                          <center>
                            <img class="small-float-center" src="../assets/img/garnitur.png" alt="sdf">
                          </center> 
                        </a>
                        <spacer size="10"></spacer>
                        <h3 class="text-center">2114312</h3>
                      </columns>
      
                      <columns class="no-pad dec"></columns>
      
                      <columns large="4" class="no-pad white">
                        <a href="#">
                          <center>
                            <img class="small-float-center" src="../assets/img/garnitur1.png" alt="sdf">
                          </center>
                          </a>
                        <spacer size="10"></spacer>
                        <h3 class="text-center">211125</h3>
                      </columns>
      
                      <columns class="no-pad dec"></columns>
      
                      <columns large="4" class="no-pad white">
                        <a href="#">
                          <center>
                            <img class="small-float-center" src="../assets/img/garnitur2.png" alt="sdf">
                          </center>
                          </a>
                        <spacer size="10"></spacer>
                        <h3 class="text-center">2111392</h3>
                      </columns>
      
                  </row>
                </container>
                  <!--block-3-goods-end-->
                  
                    <spacer size="60"></spacer>

                  <!--block-2-button-->
                  <container>
                    <row>
                      <columns>
                        <center>
                          <button class="large" href="https://gold-stream.ru/">ЗВОНОК</button>
                        </center>
                      </columns>
                      <columns>
                        <center>
                          <button class="large" href="https://gold-stream.ru/">КАТАЛОГ</button>
                        </center>
                      </columns>
                    </row>
                  </container>

                  <spacer size="60"></spacer>
                  
                  <!--block-2-button-end-->
                  

                  <!--image-2-->

            <container>
                <row>
                  <columns>
                    <a href="https://gold-stream.ru/"><img src="../assets/img/image2.jpg" alt="GoldStream"></a>
                  </columns>
                </row>
              </container>
               
              <spacer size="40"></spacer>
  
              <container>
                  <row>
                    <columns>
                      <center>
                        <img src="../assets/img/long-line.jpg" alt="GoldStream">
                      </center>  
                    </columns>
                  </row>
                </container>
  
                <spacer size="5"></spacer>
  
                <container>
                  <row>
                    <columns small="6" large="10">
                      <p class="text-center">Все слова уже сказаны. Ты затаив дыханье ждешь.<br>
                          Да! Конечно же да!<br>
                          Пусть свидетелем этого самого важного момента вашей жизни будет прекрасное помолвочное кольцо от Gold Stream.</p>
                    </columns>
                  </row>
                </container> 
                
                <container>
                    <row>
                      <columns>
                        <center>
                          <img src="../assets/img/short-line.jpg" alt="GoldStream">
                        </center>  
                      </columns>
                    </row>
                  </container>
  
                  <spacer size="30"></spacer>
              
                  <!--block-3-goods-begin-->
  
                  <container>
                      <row>
        
                        <columns large="4" class="no-pad white">
                          <a href="#">
                            <center>
                              <img class="small-float-center" src="../assets/img/ring4.png" alt="sdf">
                            </center> 
                          </a>
                          <spacer size="10"></spacer>
                          <h3 class="text-center">1110123</h3>
                        </columns>
        
                        <columns class="no-pad dec"></columns>
        
                        <columns large="4" class="no-pad white">
                          <a href="#">
                            <center>
                              <img class="small-float-center" src="../assets/img/ring5.png" alt="sdf">
                            </center>
                            </a>
                          <spacer size="10"></spacer>
                          <h3 class="text-center">1110017</h3>
                        </columns>
        
                        <columns class="no-pad dec"></columns>
        
                        <columns large="4" class="no-pad white">
                          <a href="#">
                            <center>
                              <img class="small-float-center" src="../assets/img/ring6.png" alt="sdf">
                            </center>
                            </a>
                          <spacer size="10"></spacer>
                          <h3 class="text-center">1110058</h3>
                        </columns>
        
                      </row>
                    </container>
                    <!--block-3-goods-end-->

                    <spacer size="60"></spacer>
  
                    <!--block-2-button-->
                    <container>
                      <row>
                        <columns>
                          <center>
                            <button class="large" href="https://gold-stream.ru/">ЗВОНОК</button>
                          </center>
                        </columns>
                        <columns>
                          <center>
                            <button class="large" href="https://gold-stream.ru/">КАТАЛОГ</button>
                          </center>
                        </columns>
                      </row>
                    </container>
  
                    <spacer size="60"></spacer>
                    
                    <!--block-2-button-end-->

           <!-- <container>
              <row>
                <columns large="8" class="no-pad">
                  <a href="#"><img src="https://minnibaev.ru/test/img/main-big.jpg" alt="logo"></a>
                </columns>
                
                <columns large="4" class="no-pad"> 
                  <spacer size="20" class="hide-for-large"></spacer>
                  <a href="#"><img class="small-float-center" src="https://minnibaev.ru/test/img/main-small1.jpg" alt="logo"></a>
                  <spacer size="23"></spacer>
                  <a href="#"><img class="small-float-center" src="https://minnibaev.ru/test/img/main-small2.jpg" alt="logo"></a>
                </columns>
              </row>
            </container>

            <spacer size="10"></spacer>

            <container>
              <row>
                  <columns large="8" >
                    <center>
                     <img src="https://minnibaev.ru/test/img/lines.png" alt="pooo">
                    </center>
                    <h1 class="title text-center">Lorem ipsum dolor sit amet, co       nsectetur</h1>
                    <p class="txt text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                    <center>
                     <img src="https://minnibaev.ru/test/img/lines.png" alt="pooo">
                    </center>
                  </columns>
              </row>
            </container>

            <spacer size="10"></spacer>

            <container>
              <row>

                <columns large="4" class="no-pad white">
                  <a href="#"><img class="small-float-center" src="https://minnibaev.ru/test/img/image1.jpg" alt="sdf"></a>
                  <spacer size="6"></spacer>
                  <h3 class="text-center">Black Jacket</h3>
                  <p class="price text-center">50$</p>
                </columns>

                <columns class="no-pad dec"></columns>

                <columns large="4" class="no-pad white">
                  <a href="#"><img class="small-float-center" src="https://minnibaev.ru/test/img/image2.jpg" alt="sdf"></a>
                  <spacer size="6"></spacer>
                  <h3 class="text-center">Black Jacket</h3>
                  <p class="price text-center">50$</p>
                </columns>

                <columns class="no-pad dec"></columns>

                <columns large="4" class="no-pad white">
                  <a href="#"><img class="small-float-center" src="https://minnibaev.ru/test/img/image3.jpg" alt="sdf"></a>
                  <spacer size="6"></spacer>
                  <h3 class="text-center">Black Jacket</h3>
                  <p class="price text-center">50$</p>
                </columns>

              </row>
            </container>

            <container class="darkGray" >
                <spacer size="20"></spacer>
              <row class="darkGray">
                <columns large="5" class="pad-l-30 darkGray">
                  <h2 class="title-h2 small-text-center">Use this coupon for a 10% Discount</h2>
                </columns>
                <columns large="6" class="darkGray">
                  <center>
                    <button class="awesome large" href="#">AWESOME</button>
                  </center> 
                </columns>
              </row>
            </container>

            <container>
              <spacer size="20"></spacer>
              <row>
                <columns large="6" small="6">
                  <p class="h-f-text small-text-center">If you do not want to hear from us please <br class="hide-for-large"><a href="#">&nbsp;unsubscribe</a></p>
                </columns>
              </row>
            </container>        -->

          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

