{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{subject}}</title>
    <!-- <style> -->
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            <!--logo-->
            <container>
              <spacer size="55"></spacer>
              <row>
                <columns>
                  <a href="https://gold-stream.ru/">
                    <center>
                    <img class="small-float-center" src="https://minnibaev.ru/test/img-email/logo.png" alt="GoldStream">
                    </center>
                  </a> 
                </columns>
                <spacer size="50"></spacer>
              </row>

            </container>

            <!--image-1-->

            <container>
              <row>
                <columns>
                  <a href="https://gold-stream.ru/"><img src="https://minnibaev.ru/test/img-email/image1.jpg" alt="GoldStream"></a>
                </columns>
              </row>
            </container>
             
            <spacer size="40"></spacer>

            <container>
                <row>
                  <columns>
                    <center>
                      <img src="https://minnibaev.ru/test/img-email/long-line.jpg" alt="GoldStream">
                    </center>  
                  </columns>
                </row>
              </container>

              <spacer size="5"></spacer>

              <container>
                <row>
                  <columns>
                    <p class="text-center">Ты всегда стремишься к совершенству и не идешь на компромисс. Ты выбираешь только самое лучшее. Украшения smart casual – для тебя! Такие же как ты – во всем! 
                Безупречная ты – безупречный дизайн изделий от Gold Stream.</p>
                  </columns>
                </row>
              </container> 
              
              <container>
                  <row>
                    <columns>
                      <center>
                        <img src="https://minnibaev.ru/test/img-email/short-line.jpg" alt="GoldStream">
                      </center>  
                    </columns>
                  </row>
                </container>

                <spacer size="30"></spacer>
            
                <!--block-3-goods-begin-->

                <container>
                    <row>
      
                      <columns large="4" class="no-pad white">
                        <a href="#">
                          <center>
                            <img class="small-float-center" src="https://minnibaev.ru/test/img-email/ring1.png" alt="sdf">
                          </center> 
                        </a>
                        <spacer size="10"></spacer>
                        <h3 class="text-center">1114312</h3>
                      </columns>
      
                      <columns class="no-pad dec"></columns>
      
                      <columns large="4" class="no-pad white">
                        <a href="#">
                          <center>
                            <img class="small-float-center" src="https://minnibaev.ru/test/img-email/ring2.png" alt="sdf">
                          </center>
                          </a>
                        <spacer size="10"></spacer>
                        <h3 class="text-center">1111125</h3>
                      </columns>
      
                      <columns class="no-pad dec"></columns>
      
                      <columns large="4" class="no-pad white">
                        <a href="#">
                          <center>
                            <img class="small-float-center" src="https://minnibaev.ru/test/img-email/ring3.png" alt="sdf">
                          </center>
                          </a>
                        <spacer size="10"></spacer>
                        <h3 class="text-center">1111392</h3>
                      </columns>
      
                    </row>
                  </container>
                  <!--block-3-goods-end-->
                  <spacer size="60"></spacer>
                  <!--block-3-goods-begin-->

                <container>
                    <row>
      
                      <columns large="4" class="no-pad white">
                        <a href="#">
                          <center>
                            <img class="small-float-center" src="https://minnibaev.ru/test/img-email/garnitur.png" alt="sdf">
                          </center> 
                        </a>
                        <spacer size="10"></spacer>
                        <h3 class="text-center">2114312</h3>
                      </columns>
      
                      <columns class="no-pad dec"></columns>
      
                      <columns large="4" class="no-pad white">
                        <a href="#">
                          <center>
                            <img class="small-float-center" src="https://minnibaev.ru/test/img-email/garnitur1.png" alt="sdf">
                          </center>
                          </a>
                        <spacer size="10"></spacer>
                        <h3 class="text-center">211125</h3>
                      </columns>
      
                      <columns class="no-pad dec"></columns>
      
                      <columns large="4" class="no-pad white">
                        <a href="#">
                          <center>
                            <img class="small-float-center" src="https://minnibaev.ru/test/img-email/garnitur2.png" alt="sdf">
                          </center>
                          </a>
                        <spacer size="10"></spacer>
                        <h3 class="text-center">2111392</h3>
                      </columns>
      
                  </row>
                </container>
                  <!--block-3-goods-end-->
                  
                    <spacer size="60"></spacer>

                  <!--block-2-button-->
                  <container>
                    <row>
                      <columns>
                        <center>
                          <button class="large" href="https://gold-stream.ru/">ЗВОНОК</button>
                        </center>
                      </columns>
                      <columns>
                        <center>
                          <button class="large" href="https://gold-stream.ru/">КАТАЛОГ</button>
                        </center>
                      </columns>
                    </row>
                  </container>

                  <spacer size="60"></spacer>
                  
                  <!--block-2-button-end-->
                  

                  <!--image-2-->

            <container>
                <row>
                  <columns>
                    <a href="https://gold-stream.ru/"><img src="https://minnibaev.ru/test/img-email/image2.jpg" alt="GoldStream"></a>
                  </columns>
                </row>
              </container>
               
              <spacer size="40"></spacer>
  
              <container>
                  <row>
                    <columns>
                      <center>
                        <img src="https://minnibaev.ru/test/img-email/long-line.jpg" alt="GoldStream">
                      </center>  
                    </columns>
                  </row>
                </container>
  
                <spacer size="5"></spacer>
  
                <container>
                  <row>
                    <columns>
                      <p class="text-center">Все слова уже сказаны. Ты затаив дыханье ждешь.<br>
                          Да! Конечно же да!<br>
                          Пусть свидетелем этого самого важного момента вашей жизни будет прекрасное помолвочное кольцо от Gold Stream.</p>
                    </columns>
                  </row>
                </container> 
                
                <container>
                    <row>
                      <columns>
                        <center>
                          <img src="https://minnibaev.ru/test/img-email/short-line.jpg" alt="GoldStream">
                        </center>  
                      </columns>
                    </row>
                  </container>
  
                  <spacer size="30"></spacer>
              
                  <!--block-3-goods-begin-->
  
                  <container>
                      <row>
        
                        <columns large="4" class="no-pad white">
                          <a href="#">
                            <center>
                              <img class="small-float-center" src="https://minnibaev.ru/test/img-email/ring4.png" alt="sdf">
                            </center> 
                          </a>
                          <spacer size="10"></spacer>
                          <h3 class="text-center">1110123</h3>
                        </columns>
        
                        <columns class="no-pad dec"></columns>
        
                        <columns large="4" class="no-pad white">
                          <a href="#">
                            <center>
                              <img class="small-float-center" src="https://minnibaev.ru/test/img-email/ring5.png" alt="sdf">
                            </center>
                            </a>
                          <spacer size="10"></spacer>
                          <h3 class="text-center">1110017</h3>
                        </columns>
        
                        <columns class="no-pad dec"></columns>
        
                        <columns large="4" class="no-pad white">
                          <a href="#">
                            <center>
                              <img class="small-float-center" src="https://minnibaev.ru/test/img-email/ring6.png" alt="sdf">
                            </center>
                            </a>
                          <spacer size="10"></spacer>
                          <h3 class="text-center">1110058</h3>
                        </columns>
        
                      </row>
                    </container>
                    <!--block-3-goods-end-->

                    <spacer size="60"></spacer>
  
                    <!--block-2-button-->
                    <container>
                      <row>
                        <columns>
                          <center>
                            <button class="large" href="https://gold-stream.ru/">ЗВОНОК</button>
                          </center>
                        </columns>
                        <columns>
                          <center>
                            <button class="large" href="https://gold-stream.ru/">КАТАЛОГ</button>
                          </center>
                        </columns>
                      </row>
                    </container>
  
                    <spacer size="60"></spacer>
                    
                    <!--image-3-->

            <container>
                <row>
                  <columns>
                    <a href="https://gold-stream.ru/"><img src="https://minnibaev.ru/test/img-email/image3.jpg" alt="GoldStream"></a>
                  </columns>
                </row>
              </container>
               
              <spacer size="40"></spacer>
  
              <container>
                  <row>
                    <columns>
                      <center>
                        <img src="https://minnibaev.ru/test/img-email/long-line.jpg" alt="GoldStream">
                      </center>  
                    </columns>
                  </row>
                </container>
  
                <spacer size="5"></spacer>
  
                <container>
                  <row>
                    <columns>
                      <p class="text-center">Этот драгоценный момент ты запомнишь на всю жизнь! А всю теплоту этого события<br> сохранит и поможет пронести через года помолвочное<br> кольцо из серебра Gold Stream.</p>
                    </columns>
                  </row>
                </container> 
                
                <container>
                    <row>
                      <columns>
                        <center>
                          <img src="https://minnibaev.ru/test/img-email/short-line.jpg" alt="GoldStream">
                        </center>  
                      </columns>
                    </row>
                  </container>
  
                  <spacer size="30"></spacer>
              
                  <!--block-3-goods-begin-->
  
                  <container>
                      <row>
        
                        <columns large="4" class="no-pad white">
                          <a href="#">
                            <center>
                              <img class="small-float-center" src="https://minnibaev.ru/test/img-email/ring7.png" alt="sdf">
                            </center> 
                          </a>
                          <spacer size="10"></spacer>
                          <h3 class="text-center">1113245</h3>
                        </columns>
        
                        <columns class="no-pad dec"></columns>
        
                        <columns large="4" class="no-pad white">
                          <a href="#">
                            <center>
                              <img class="small-float-center" src="https://minnibaev.ru/test/img-email/ring8.png" alt="sdf">
                            </center>
                            </a>
                          <spacer size="10"></spacer>
                          <h3 class="text-center">1133336</h3>
                        </columns>
        
                        <columns class="no-pad dec"></columns>
        
                        <columns large="4" class="no-pad white">
                          <a href="#">
                            <center>
                              <img class="small-float-center" src="https://minnibaev.ru/test/img-email/ring9.png" alt="sdf">
                            </center>
                            </a>
                          <spacer size="10"></spacer>
                          <h3 class="text-center">1010348</h3>
                        </columns>
        
                      </row>
                    </container>
                    <!--block-3-goods-end-->

                    <spacer size="60"></spacer>
  
                    <!--block-2-button-->
                    <container>
                      <row>
                        <columns>
                          <center>
                            <button class="large" href="https://gold-stream.ru/">ЗВОНОК</button>
                          </center>
                        </columns>
                        <columns>
                          <center>
                            <button class="large" href="https://gold-stream.ru/">КАТАЛОГ</button>
                          </center>
                        </columns>
                      </row>
                    </container>
  
                    <spacer size="60"></spacer>
                    <!--block-2-button-end-->

                    <!--image-4-->

            <container>
                <row>
                  <columns>
                    <a href="https://gold-stream.ru/"><img src="https://minnibaev.ru/test/img-email/image4.jpg" alt="GoldStream"></a>
                  </columns>
                </row>
              </container>
               
              <spacer size="40"></spacer>
  
              <container>
                  <row>
                    <columns>
                      <center>
                        <img src="https://minnibaev.ru/test/img-email/long-line.jpg" alt="GoldStream">
                      </center>  
                    </columns>
                  </row>
                </container>
  
                <spacer size="10"></spacer>
  
                <container>
                  <row>
                    <columns>
                      <p class="text-center">Распродажа золота по самым<br> 
                          выгодным ценам.</p>
                    </columns>
                  </row>
                </container> 
                
                <container>
                    <row>
                      <columns>
                        <center>
                          <img src="https://minnibaev.ru/test/img-email/short-line.jpg" alt="GoldStream">
                        </center>  
                      </columns>
                    </row>
                  </container>
  
                  <spacer size="30"></spacer>
              
                  <!--block-3-goods-begin-->
  
                  <container>
                      <row>
        
                        <columns large="4" class="no-pad white">
                          <a href="#">
                            <center>
                              <img class="small-float-center" src="https://minnibaev.ru/test/img-email/ring10.png" alt="sdf">
                            </center> 
                          </a>
                          <spacer size="10"></spacer>
                          <h3 class="text-center">1173868</h3>
                        </columns>
        
                        <columns class="no-pad dec"></columns>
        
                        <columns large="4" class="no-pad white">
                          <a href="#">
                            <center>
                              <img class="small-float-center" src="https://minnibaev.ru/test/img-email/ring11.png" alt="sdf">
                            </center>
                            </a>
                          <spacer size="10"></spacer>
                          <h3 class="text-center">1443910</h3>
                        </columns>
        
                        <columns class="no-pad dec"></columns>
        
                        <columns large="4" class="no-pad white">
                          <a href="#">
                            <center>
                              <img class="small-float-center" src="https://minnibaev.ru/test/img-email/ring12.png" alt="sdf">
                            </center>
                            </a>
                          <spacer size="10"></spacer>
                          <h3 class="text-center">1351257</h3>
                        </columns>
        
                      </row>
                    </container>
                    <!--block-3-goods-end-->

                    <spacer size="60"></spacer>
  
                    <!--block-2-button-->
                    <container>
                      <row>
                        <columns>
                          <center>
                            <button class="large" href="https://gold-stream.ru/">ЗВОНОК</button>
                          </center>
                        </columns>
                        <columns>
                          <center>
                            <button class="large" href="https://gold-stream.ru/">КАТАЛОГ</button>
                          </center>
                        </columns>
                      </row>
                    </container>
  
                    <spacer size="60"></spacer>

                    <container>
                        <row>
                          <columns>
                            <center>
                              <img src="https://minnibaev.ru/test/img-email/long-line.jpg" alt="GoldStream">
                            </center>  
                          </columns>
                        </row>
                      </container>
        
                      <spacer size="10"></spacer>
        
                      <container>
                        <row>
                          <columns>
                            <p class="text-center font18">САМОЕ ЛУЧШЕЕ ДЛЯ ВАС!<br> 
                              <span class="font16">Успейте заказать украшения от Gold Stream!</span></p>
                          </columns>
                        </row>
                      </container> 

                      <!--block-2-button-end-->

                      <container>
                          <row>
                            <columns>
                              <center>
                                <img src="https://minnibaev.ru/test/img-email/short-line.jpg" alt="GoldStream">
                              </center>  
                            </columns>
                          </row>
                      </container>

                      <spacer size="30"></spacer>

                      <container>
                          <row>
                            <columns class="no-pad">
                              <a class="small-text-center" href="https://goldstream.ru"><img class="small-float-center" src="https://minnibaev.ru/test/img-email/order-call.jpg" alt="gold-stream"></a>
                            </columns>
                            <columns class="no-pad">
                              <a class="small-text-center" href="https://goldstream.ru"><img class="small-float-center" src="https://minnibaev.ru/test/img-email/to-call.jpg" alt="gold-stream"></a>
                          </row>
                        </container>

                        <!--logo-->
                        <container>
                            <spacer size="55"></spacer>
                            <row>
                              <columns large="6">
                                <a href="https://gold-stream.ru/">
                                  <center>
                                  <img class="small-float-center" width="214" height="51" src="https://minnibaev.ru/test/img-email/logo.png" alt="GoldStream">
                                  </center>
                                </a> 
                              </columns>
                              <spacer size="20"></spacer>
                            </row>
              
                          </container>

                          <container>
                            <row>
                              <columns>
                                <p class="text-center black">телефон горячей линии <br><span class="font22-8">8 800 200 38 28</span></p>
                              </columns>
                            </row>
                          </container>

          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

