{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{subject}}</title>
    <!-- <style> -->
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            
            <container>
              <spacer size="10"></spacer>
              <row>

                <columns large="6">
                  <p class="h-f-text small-text-center"><a href="#">Your Message goes here</a></p>
                </columns>
                <columns large="6">
                  <p class="text-right h-f-text small-text-center"><a href="#">View Online</a></p>
                </columns>

              </row>
            </container>

            <container>
              <row>
                <columns>
                  <a href="#"><img class="small-float-center" src="https://minnibaev.ru/test/img/logo.png" alt="logo"></a>
                </columns>
              </row>
             </container>
            <spacer size="5"></spacer>
            <container>
              <row>
                <columns large="6" class="primary-bg">
                  <menu class="main-menu small-vertical">
                    <item style="color:#fff;" href="#">Home</item>
                    <item style="color:#fff;" href="#">offers</item>
                    <item style="color:#fff;" href="#">new arrivals</item>
                  </menu>
                </columns>
              </row>
            </container>
            
            <spacer size="16"></spacer>

            <container>
              <row>
                <columns large="8" class="no-pad">
                  <a href="#"><img src="https://minnibaev.ru/test/img/main-big.jpg" alt="logo"></a>
                </columns>
                
                <columns large="4" class="no-pad"> 
                  <spacer size="20" class="hide-for-large"></spacer>
                  <a href="#"><img class="small-float-center" src="https://minnibaev.ru/test/img/main-small1.jpg" alt="logo"></a>
                  <spacer size="23"></spacer>
                  <a href="#"><img class="small-float-center" src="https://minnibaev.ru/test/img/main-small2.jpg" alt="logo"></a>
                </columns>
              </row>
            </container>
            <spacer size="10"></spacer>
            <container>
              <row>
                
                  <columns large="8" >
                    <center>
                     <img src="https://minnibaev.ru/test/img/lines.png" alt="pooo">
                    </center>
                    <h1 class="title text-center">Lorem ipsum dolor sit amet, co       nsectetur</h1>
                    <p class="txt text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                    <center>
                     <img src="https://minnibaev.ru/test/img/lines.png" alt="pooo">
                    </center>
                  </columns>
                
              </row>
            </container>
            <spacer size="10"></spacer>

            <container>
              <row>

                <columns large="4" class="no-pad white">
                  <a href="#"><img class="small-float-center" src="https://minnibaev.ru/test/img/image1.jpg" alt="sdf"></a>
                  <spacer size="6"></spacer>
                  <h3 class="text-center">Black Jacket</h3>
                  <p class="price text-center">50$</p>
                </columns>

                <columns class="no-pad dec"></columns>

                <columns large="4" class="no-pad white">
                  <a href="#"><img class="small-float-center" src="https://minnibaev.ru/test/img/image2.jpg" alt="sdf"></a>
                  <spacer size="6"></spacer>
                  <h3 class="text-center">Black Jacket</h3>
                  <p class="price text-center">50$</p>
                </columns>

                <columns class="no-pad dec"></columns>

                <columns large="4" class="no-pad white">
                  <a href="#"><img class="small-float-center" src="https://minnibaev.ru/test/img/image3.jpg" alt="sdf"></a>
                  <spacer size="6"></spacer>
                  <h3 class="text-center">Black Jacket</h3>
                  <p class="price text-center">50$</p>
                </columns>

              </row>
            </container>

            <container class="darkGray" >
                <spacer size="20"></spacer>
              <row class="darkGray">
                <columns large="5" class="pad-l-30 darkGray">
                  <h2 class="title-h2 small-text-center">Use this coupon for a 10% Discount</h2>
                </columns>
                <columns large="6" class="darkGray">
                  <center>
                    <button class="awesome large" href="#">AWESOME</button>
                  </center> 
                </columns>
              </row>
            </container>

            <container>
              <spacer size="20"></spacer>
              <row>
                <columns large="6" small="6">
                  <p class="h-f-text small-text-center">If you do not want to hear from us please <br class="hide-for-large"><a href="#">&nbsp;unsubscribe</a></p>
                </columns>
              </row>
            </container>       

          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

